html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
* {font-family: 'Open Sans', sans-serif;}



.page {
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff; }
  .page__containter {
    margin: 0 auto;
    width: 100%;
    max-width: 350px; 
    background-color: #fafafa;}

.weatherbox {
  display: flex;
  flex-direction: column;}
  .weatherbox__card {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;}
  .weatherbox__card-title{
    padding: 5px 5px;
    text-align: center;
    background-color: #FEBE3A;}
  .weatherbox__card-block{
    display: flex;
    flex-direction: row;}
   .weatherbox__card-icon{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    background-position: center center;
    background-color: #ffffff}
   .weatherbox__card-temp{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    background-color: #ffffff}
    .weatherbox__card-cloud{
      padding-top: 10px;
      text-align: center;
      background-color: #ffffff
    }
    .weatherbox__card-wind{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      background-color: #ffffff
    }
  
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;}
  .form__search {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px 5px;
  }
  




